includes:
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    bootstrapFiles:
        - ./tests/bootstrap.php

    level: max

    reportUnmatchedIgnoredErrors: true

    excludePaths:
        - ./tests/substitutes/*/original/*
        - ./tests/GENERATED_source_code/*
