---

name: build-php-deps

on:
  workflow_call: ~
  workflow_dispatch: ~

permissions:
  contents: read

jobs:
  build-php-deps:
    name: build-php-dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 300
    strategy:
      fail-fast: false
    env:
      COMPOSER_ALLOW_SUPERUSER: 1
    steps:
      - uses: actions/checkout@v4
      - name: Build PHP dependencies
        run: ./tools/build/build_php_deps.sh --php_versions '80 81 82 83'
      - uses: actions/upload-artifact@v4
        with:
          name: php-dependencies
          path: |
            prod/php/vendor_*
            prod/php/ElasticOTel/PhpPartVersion.php
            prod/php/ElasticOTel/Log/LogFeature.php
            NOTICE
