---

name: build-php-deps

on:
  workflow_call: ~
  workflow_dispatch: ~

permissions:
  contents: read

jobs:
  build-php-deps:
    name: build-php-dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 300
    strategy:
      fail-fast: false
    env:
      COMPOSER_ALLOW_SUPERUSER: 1
    steps:
      - uses: actions/checkout@v5
      - name: Build PHP dependencies
        run: |
          source ./tools/read_properties.sh
          read_properties elastic-otel-php.properties PROJECT_PROPERTIES
          PHP_VERSIONS=${PROJECT_PROPERTIES_SUPPORTED_PHP_VERSIONS//[()]/}
          ./tools/build/build_php_deps.sh --php_versions "${PHP_VERSIONS}"
      - uses: actions/upload-artifact@v5
        with:
          name: php-dependencies
          path: |
            prod/php/vendor_per_PHP_version
            prod/php/ElasticOTel/PhpPartVersion.php
            prod/php/ElasticOTel/Log/LogFeature.php
            NOTICE
