---

name: test-phpt

on:
  workflow_call:
    inputs:
      build_arch:
        required: false
        type: string
        default: 'x86_64'
  workflow_dispatch:
    inputs:
      build_arch:
        type: choice
        description: Build architecture
        default: 'x86_64'
        options:
          - all
          - x86_64
          - arm64

permissions:
  contents: read

jobs:
  setup-build-matrix:
    uses: ./.github/workflows/build-arch-matrix-generator.yml
    with:
      build_arch: ${{ inputs.build_arch }}

  test-phpt:
    name: test-phpt
    runs-on: ${{ matrix.goarch == 'arm64' && 'observability-linux-2-arm64' || 'ubuntu-latest' }}
    needs: setup-build-matrix
    timeout-minutes: 300
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup-build-matrix.outputs.matrix-combinations) }}
    env:
      BUILD_ARCHITECTURE: ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: build-native-${{ matrix.arch }}
          path: prod/native/_build/${{ matrix.arch }}-release/
      # - if: ${{ matrix.goarch == 'arm64' }}
      #   uses: docker/setup-qemu-action@v3
      #   with:
      #     platforms: arm64
      - name: Run phpt tests
        run: |
          uname -a
          echo "Arch: ${BUILD_ARCHITECTURE}"
          source ./tools/read_properties.sh
          read_properties elastic-otel-php.properties PROJECT_PROPERTIES
          PHP_VERSIONS=${PROJECT_PROPERTIES_SUPPORTED_PHP_VERSIONS//[()]/}
          ./tools/build/test_phpt.sh --build_architecture ${BUILD_ARCHITECTURE} --results_path ${PWD}/build/test_phpt_results --php_versions "${PHP_VERSIONS}"
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: test-phpt-failures-${{ matrix.arch }}
          path: |
            build/test_phpt_results/*
